---
import { type ButtonProps } from "../../types";

let { type, link, href } = Astro.props as ButtonProps;

if (href) {
    link = href;
}
---

{
    link && link.includes("#book-a-call") ? (
        <button class={`button button-${type}`} data-link={link ? link : ""}>
            <slot />
            {type == "primary" ? (
                <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M12.0107 17.5519C11.9141 17.4552 11.8599 17.3241 11.8599 17.1875C11.8599 17.0509 11.9141 16.9198 12.0107 16.8231L17.3173 11.5156H3.43753C3.30077 11.5156 3.16962 11.4613 3.07292 11.3646C2.97622 11.2679 2.9219 11.1368 2.9219 11C2.9219 10.8632 2.97622 10.7321 3.07292 10.6354C3.16962 10.5387 3.30077 10.4844 3.43753 10.4844H17.3173L12.0107 5.17688C11.9196 5.07913 11.87 4.94985 11.8723 4.81627C11.8747 4.68268 11.9288 4.55523 12.0233 4.46076C12.1178 4.36629 12.2452 4.31218 12.3788 4.30982C12.5124 4.30746 12.6417 4.35705 12.7394 4.44813L18.9269 10.6356C19.0235 10.7323 19.0777 10.8634 19.0777 11C19.0777 11.1366 19.0235 11.2677 18.9269 11.3644L12.7394 17.5519C12.6427 17.6484 12.5117 17.7027 12.375 17.7027C12.2384 17.7027 12.1073 17.6484 12.0107 17.5519Z"
                        fill="black"
                    />
                </svg>
            ) : (
                <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M8.73496 12.765C8.66474 12.6947 8.62529 12.5994 8.62529 12.5C8.62529 12.4006 8.66474 12.3053 8.73496 12.235L12.5943 8.37501H2.49996C2.40051 8.37501 2.30512 8.33551 2.2348 8.26518C2.16447 8.19485 2.12496 8.09947 2.12496 8.00001C2.12496 7.90056 2.16447 7.80518 2.2348 7.73485C2.30512 7.66452 2.40051 7.62501 2.49996 7.62501L12.5943 7.62501L8.73496 3.76501C8.66872 3.69393 8.63266 3.5999 8.63438 3.50275C8.63609 3.4056 8.67545 3.31291 8.74415 3.2442C8.81286 3.1755 8.90555 3.13614 9.0027 3.13443C9.09985 3.13271 9.19388 3.16877 9.26496 3.23501L13.765 7.73501C13.8352 7.80533 13.8746 7.90064 13.8746 8.00001C13.8746 8.09939 13.8352 8.1947 13.765 8.26502L9.26496 12.765C9.19465 12.8352 9.09934 12.8747 8.99996 12.8747C8.90059 12.8747 8.80528 12.8352 8.73496 12.765Z"
                        fill="#8B81FF"
                    />
                </svg>
            )}
        </button>
    ) : (
        <a class={`button button-${type}`} data-link={link ? link : ""}>
            <slot />
            {type == "primary" ? (
                <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M12.0107 17.5519C11.9141 17.4552 11.8599 17.3241 11.8599 17.1875C11.8599 17.0509 11.9141 16.9198 12.0107 16.8231L17.3173 11.5156H3.43753C3.30077 11.5156 3.16962 11.4613 3.07292 11.3646C2.97622 11.2679 2.9219 11.1368 2.9219 11C2.9219 10.8632 2.97622 10.7321 3.07292 10.6354C3.16962 10.5387 3.30077 10.4844 3.43753 10.4844H17.3173L12.0107 5.17688C11.9196 5.07913 11.87 4.94985 11.8723 4.81627C11.8747 4.68268 11.9288 4.55523 12.0233 4.46076C12.1178 4.36629 12.2452 4.31218 12.3788 4.30982C12.5124 4.30746 12.6417 4.35705 12.7394 4.44813L18.9269 10.6356C19.0235 10.7323 19.0777 10.8634 19.0777 11C19.0777 11.1366 19.0235 11.2677 18.9269 11.3644L12.7394 17.5519C12.6427 17.6484 12.5117 17.7027 12.375 17.7027C12.2384 17.7027 12.1073 17.6484 12.0107 17.5519Z"
                        fill="black"
                    />
                </svg>
            ) : (
                <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M8.73496 12.765C8.66474 12.6947 8.62529 12.5994 8.62529 12.5C8.62529 12.4006 8.66474 12.3053 8.73496 12.235L12.5943 8.37501H2.49996C2.40051 8.37501 2.30512 8.33551 2.2348 8.26518C2.16447 8.19485 2.12496 8.09947 2.12496 8.00001C2.12496 7.90056 2.16447 7.80518 2.2348 7.73485C2.30512 7.66452 2.40051 7.62501 2.49996 7.62501L12.5943 7.62501L8.73496 3.76501C8.66872 3.69393 8.63266 3.5999 8.63438 3.50275C8.63609 3.4056 8.67545 3.31291 8.74415 3.2442C8.81286 3.1755 8.90555 3.13614 9.0027 3.13443C9.09985 3.13271 9.19388 3.16877 9.26496 3.23501L13.765 7.73501C13.8352 7.80533 13.8746 7.90064 13.8746 8.00001C13.8746 8.09939 13.8352 8.1947 13.765 8.26502L9.26496 12.765C9.19465 12.8352 9.09934 12.8747 8.99996 12.8747C8.90059 12.8747 8.80528 12.8352 8.73496 12.765Z"
                        fill="#8B81FF"
                    />
                </svg>
            )}
        </a>
    )
}

<script>
    document.querySelectorAll(".button").forEach((buttonEl) => {
        const dataLink: any = buttonEl.getAttribute("data-link");

        if (dataLink == "#book-a-call") {
            buttonEl.setAttribute("data-cal-link", "futuremerce/30min");
            buttonEl.setAttribute("data-cal-namespace", "");
            buttonEl.setAttribute("data-cal-config", `{"layout":"month_view"}`);
        } else if (dataLink != "") {
            buttonEl.setAttribute("href", dataLink);
        }
    });
</script>
