.about-ceo {
    width: 100%;
    max-width: 914px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 90px auto 150px;
    position: relative;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: start;
        gap: 20px;

        img {
            width: 100px;
            height: 100px;
            margin-left: 20px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -150px;
        left: -150px;
        height: 200px;
        width: 200px;
        background: var(--primary);
        filter: blur(150px);
        opacity: 0.12;
    }

    &_content {
        width: 636px;
        padding: 49px 0 0 58px;
        position: relative;

        @media screen and (max-width: 767px) {
            width: 100%;
            padding: 0 20px 0;
        }

        > svg {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            transform: scale(0.8);

            @media screen and (max-width: 767px) {
                transform: scale(1.5) translateY(-50px);
                opacity: 0.5;
            }
        }
    }

    &_text {
        position: relative;
        z-index: 2;
        font-size: 26px;
        line-height: 32px;
        color: #fff;
        margin-bottom: 24px;

        @media screen and (max-width: 767px) {
            font-size: 20px;
            line-height: 28px;
        }
    }

    &_name {
        position: relative;
        z-index: 2;
        font-size: 18px;
        line-height: 24px;
        color: #9d9d9d;

        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }
}
