.about-grid {
    margin: 130px 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &_col {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        gap: 18px;
        padding: 0 0 68px;

        &:first-of-type p {
            font-size: 15px;
        }

        &:nth-child(n + 2) {
            padding-bottom: 40px;
        }

        &:nth-child(2) {
            border-left: 1px solid rgba(255, 255, 255, 0.06);
            border-right: 1px solid rgba(255, 255, 255, 0.06);

            img {
                margin-top: 16px;
                width: 170px;
                height: fit-content;
            }
        }
    }

    &_text {
        width: 100%;
        max-width: 328px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
    }
}