.breadcrumbs {
    margin-top: 168px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    gap: 8px;

    @media screen and (max-width: 1023px) {
        padding: 0 20px;
        margin-top: 120px;
    }

    svg {
        min-width: 12px;
    }

    &_link {
        font-size: 14px;
        font-weight: 600;
        color: #727070;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.25s ease;

        &:hover {
            color: var(--primary);
        }
    }

    &_current {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        color: #727070;
    }

    &_back {
        display: none;
    }

    @media screen and (max-width: 767px) {
        &_link,
        > svg,
        &_current {
            display: none;
        }

        &_back {
            display: flex;
            align-items: center;
            gap: 4px;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 14px;
            color: #999;
            cursor: pointer;

            svg {
                opacity: 0.65;
            }
        }
    }
}
