.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    width: fit-content;
    height: 48px;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    gap: 8px;
    transition: 0.25s ease;
    min-width: 150px;
    cursor: pointer;

    svg path {
        transition: 0.25s ease;
    }

    &:not(.button-link):hover {
        background: var(--primary);
        color: #fff;
        gap: 16px;
        padding: 8px 20px;

        svg path {
            fill: #fff;
        }
    }

    &-secondary {
        color: var(--primary);
        background: #8b81ff25;
    }

    &-primary {
        color: #000;
        background: #fff;
    }

    &-link {
        width: fit-content;
        height: fit-content;
        min-width: unset;
        padding: 0;
        background: none !important;
        color: #fff;

        &:hover {
            color: var(--primary);
        }

        svg {
            display: none;
        }
    }
}