.faqs {
    background: linear-gradient(
        180deg,
        #100f17 0%,
        #13131e 17%,
        #13131e 76%,
        #100f17 100%
    );
    padding: 210px 24px;
    margin: 60px 0 100px;

    @media screen and (max-width: 1023px) {
        padding: 100px 24px;
        margin-bottom: 20px;
    }

    &_inner {
        max-width: 1220px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1023px) {
            flex-direction: column;
            align-items: start;
            gap: 40px;
            max-width: 767px;
        }
    }

    &_title {
        @include title();
        margin: 60px 0;
        position: relative;
        text-align: left;

        &::after {
            content: "";
            width: 120px;
            height: 120px;
            background: url('data:image/svg+xml,<svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M60 96V85.888C60 74.928 66.192 64.904 76 60C80.8146 57.56 84.8587 53.8333 87.6831 49.2337C90.5076 44.634 92.0018 39.3416 92 33.944C92 17.56 78.72 4 62.336 4H60.68C50 4 39.76 8.24 32.2 15.792L28 20M56 116H64" stroke="white" stroke-opacity="0.07" stroke-width="8"/></svg>')
                center/cover no-repeat;
            position: absolute;
            right: 20px;
            top: -20px;
            z-index: 1;

            @media screen and (max-width: 1023px) {
                right: -100px;
            }
        }
    }

    &_subtitle {
        @include subtitle();
    }
}

.faqs_accordion {
    width: 100%;
    max-width: 587px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);

    @media screen and (max-width: 1023px) {
        max-width: unset;
    }

    &.hidden {
        display: none;
    }

    &-head {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        line-height: 32px;
        color: #d2d2d2;
        font-weight: 500;
        cursor: pointer;
        gap: 16px;

        @media screen and (max-width: 767px) {
            font-size: 17px;
            line-height: 23px;
        }

        svg {
            min-width: 28px;
            min-height: 28px;

            &.close {
                display: none;
            }
        }
    }

    &-body {
        overflow: hidden;
        padding: 0;
        font-size: 16px;
        line-height: 24px;
        color: #868686;
        max-height: 0px;
        height: fit-content;
        transition: 0.25s ease;

        a {
            color: var(--primary);
        }

        > ul {
            padding-left: 20px;
            margin-top: 12px;
        }
    }

    &.active {
        .faqs_accordion-body {
            max-height: 400px;
            padding-bottom: 20px;
        }

        svg.open {
            display: none;
        }

        svg.close {
            display: block;
        }
    }
}

.filterable-faqs {
    margin: 127px auto 175px;

    @media screen and (max-width: 1023px) {
        margin: 80px auto 100px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin-top: 70px;

        @media screen and (max-width: 1023px) {
            margin-top: 40px;
        }
    }

    &_filters {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-bottom: 70px;
        width: 100%;

        @media screen and (max-width: 1023px) {
            justify-content: flex-start;
            overflow-x: scroll;
            padding: 0 20px;
            width: calc(100% + 40px);
            margin: 0 0 40px -20px;
            gap: 0;
        }
    }

    &_filter {
        width: fit-content;
        min-width: 104px;
        border-radius: 99px;
        color: #fff;
        border: 1px solid #fff;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 39px;
        transition: 0.3s ease-in-out;
        text-transform: capitalize;
        padding: 0 24px;
        cursor: pointer;

        @media screen and (max-width: 1023px) {
            min-width: max-content;
            margin-left: 8px;
        }

        &:not(.active):hover {
            background: rgba(255, 255, 255, 0.25);
        }

        &.active {
            background: #fff;
            color: #000;
        }
    }
}
