.navbar {
    width: 100vw;
    height: 110px;
    padding: 0 24px;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background: transparent;
    transition: background .25s ease-in-out, height .25s ease-in-out;
    border-bottom: 1px solid #1B1B1B;

    &.scrolled {
        background: #100F17;
        height: 80px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.01);
        border-bottom: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &_brand {
        width: fit-content;
        cursor: pointer;

        >svg {
            width: 200px;
            height: 37px;
        }
    }

    &_actions {
        min-width: 200px;
        display: flex;
        justify-content: flex-end;
    }

    &_list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        position: relative;
    }

    &_link {
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 16px;
        color: #E2E2E2;
        font-weight: 400;
        text-decoration: none;
        transition: .25s ease;

        svg {
            transition: .25s ease;
        }

        &:hover {
            color: var(--primary);
        }

        &.active {
            svg {
                transform: rotate(-180deg);
            }
        }
    }

    &_dropdown {
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.12);
        background: #13131E;
        border-radius: 16px;
        position: absolute;
        top: calc(100% + 24px);
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        z-index: 5;
        display: flex;
        gap: 8px;
        display: none;

        &.active {
            display: flex;
        }

        &-link {
            display: flex;
            align-items: center;
            gap: 12px;
            text-decoration: none;
            padding: 8px 14px;
            transition: .25s ease-in-out;

            &:hover {
                background: rgba(255, 255, 255, 0.05);
                border-radius: 8px;
            }

            >p {
                font-size: 14px;
                color: #707070;

                >span {
                    display: block;
                    font-size: 16px;
                    color: #fff;
                    margin-bottom: 2px;
                }
            }
        }
    }
}