.page {
    &-title {
        background: linear-gradient(90deg,
                #ffffff 0%,
                rgba(255, 255, 255, 0.81) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        width: 748px;
        font-size: 64px;
        line-height: 72px;
        font-weight: 650;
        margin: 80px auto 0;
        text-align: center;
        max-width: 100%;

        &.long {
            width: 100%;
        }

        >span {
            background: linear-gradient(90deg, #bcb7ff 0%, #703ab4 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        @media screen and (max-width: 1023px) {
            font-size: 48px;
            line-height: 60px;
            margin-top: 50px;
            padding: 0 20px;
        }

        @media screen and (max-width: 500px) {
            font-size: 32px;
            line-height: 40px;
        }
    }

    &-subtitle {
        background: linear-gradient(90deg,
                #ffffff 0%,
                rgba(255, 255, 255, 0.81) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 32px;
        line-height: 40px;
        margin: 40px 0 16px;

        @media screen and (max-width: 500px) {
            font-size: 24px;
            line-height: 28px;
            opacity: .8;
        }
    }

    &-link {
        display: block;
        width: fit-content;
        color: #979797;
        font-size: 20px;
        line-height: 26px;
        margin: 8px 0;
        text-decoration: none;

        @media screen and (max-width: 500px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &-text {
        margin: 33px auto 0;
        color: #979797;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        max-width: 700px;

        @media screen and (max-width: 1023px) {
            font-size: 16px;
            padding: 0 20px;
            width: 100% !important;
        }
    }

    &-grid {
        padding: 0 20px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin: 70px 0 140px;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 1023px) {
            flex-direction: column;
            padding: 0;
        }

        &_content {
            flex: 0 0 520px;
            width: 520px;
            padding-top: 50px;

            @media screen and (max-width: 1200px) {
                flex: 0 0 400px;
                width: 400px;
            }

            @media screen and (max-width: 1023px) {
                width: 100%;
                flex: unset;
                padding-top: 0;
                padding-bottom: 40px;
            }
        }

        &_title {
            background: linear-gradient(90deg,
                    #ffffff 0%,
                    rgba(255, 255, 255, 0.81) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-size: 46px;
            line-height: 72px;
            font-weight: 600;
        }

        &_text {
            margin: 24px 0 40px;
            font-size: 18px;
            line-height: 24px;
            color: #aeaeae;
        }

        &_icon-group {
            margin: 24px 0 36px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 12px;
            font-size: 16px;
            line-height: 24px;
            color: #aeaeae;
        }

        &_subtitle {
            color: #fff;
            font-size: 24px;
            line-height: 24px;
            font-weight: 600;
        }

        &_form {
            flex: 0 0 560px;
            width: 560px;
            height: fit-content;
            background: #13131e;
            border: 1px solid rgba(255, 255, 255, 0.12);
            border-radius: 16px;
            padding: 40px;

            @media screen and (max-width: 1200px) {
                flex: 0 0 calc(100% - 24px - 400px);
            }

            @media screen and (max-width: 1023px) {
                width: 100%;
                flex: unset;
            }

            @media screen and (max-width: 767px) {
                padding: 24px;
            }
        }
    }
}