.page {
    &-title {
        background: linear-gradient(
            90deg,
            #ffffff 0%,
            rgba(255, 255, 255, 0.81) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        width: 748px;
        font-size: 64px;
        line-height: 72px;
        font-weight: 650;
        margin: 80px auto 0;
        text-align: center;
        max-width: 100%;

        &.long {
            width: 100%;
        }

        > span {
            background: linear-gradient(90deg, #bcb7ff 0%, #703ab4 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        @media screen and (max-width: 1023px) {
            font-size: 48px;
            line-height: 60px;
            margin-top: 50px;
            padding: 0 20px;
        }

        @media screen and (max-width: 500px) {
            font-size: 36px;
            line-height: 42px;
        }
    }

    &-subtitle {
        background: linear-gradient(
            90deg,
            #ffffff 0%,
            rgba(255, 255, 255, 0.81) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 32px;
        line-height: 40px;
        margin: 40px 0 16px;

        @media screen and (max-width: 500px) {
            font-size: 24px;
            line-height: 28px;
            opacity: 0.8;
        }
    }

    &-link {
        display: block;
        width: fit-content;
        color: #979797;
        font-size: 20px;
        line-height: 26px;
        margin: 8px 0;
        text-decoration: none;

        @media screen and (max-width: 500px) {
            font-size: 14px;
            line-height: 18px;
        }
    }

    &-text {
        margin: 33px auto 0;
        color: #979797;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        max-width: 700px;

        @media screen and (max-width: 1023px) {
            font-size: 16px;
            padding: 0 20px;
            width: 100% !important;
        }
    }

    &-grid {
        padding: 0 20px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin: 70px 0 140px;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 1023px) {
            flex-direction: column;
            padding: 0;
            margin-bottom: 40px;
        }

        &_content {
            flex: 0 0 520px;
            width: 520px;
            padding-top: 50px;

            &.mobile-only {
                display: none;

                @media screen and (max-width: 1023px) {
                    display: block;
                    margin: 60px 0 0;
                    padding-bottom: 0;
                }
            }

            @media screen and (max-width: 1200px) {
                flex: 0 0 400px;
                width: 400px;
            }

            @media screen and (max-width: 1023px) {
                width: 100%;
                flex: unset;
                padding-top: 0;
                padding-bottom: 40px;

                .button {
                    width: 100%;
                    justify-content: center;
                }

                &:not(.mobile-only) {
                    .page-grid_subtitle,
                    button,
                    br {
                        display: none;
                    }

                    .page-guarantees {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &_title {
            background: linear-gradient(
                90deg,
                #ffffff 0%,
                rgba(255, 255, 255, 0.81) 100%
            );
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-size: 46px;
            line-height: 72px;
            font-weight: 600;

            @media screen and (max-width: 1023px) {
                font-size: 36px;
                line-height: 40px;
                text-align: center;
            }
        }

        &_text {
            margin: 24px 0 40px;
            font-size: 18px;
            line-height: 24px;
            color: #aeaeae;

            @media screen and (max-width: 1023px) {
                font-size: 16px;
                line-height: 22px;
                text-align: center;
            }
        }

        &_icon-group {
            margin: 24px 0 36px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 12px;
            font-size: 16px;
            line-height: 24px;
            color: #aeaeae;
        }

        &_subtitle {
            color: #fff;
            font-size: 24px;
            line-height: 24px;
            font-weight: 600;

            @media screen and (max-width: 1023px) {
                text-align: center;
            }
        }

        &_form {
            flex: 0 0 560px;
            width: 560px;
            height: fit-content;
            background: #13131e;
            border: 1px solid rgba(255, 255, 255, 0.12);
            border-radius: 16px;
            padding: 40px;

            @media screen and (max-width: 1200px) {
                flex: 0 0 calc(100% - 24px - 400px);
            }

            @media screen and (max-width: 1023px) {
                width: 100%;
                flex: unset;

                .button {
                    width: 100%;
                    justify-content: center;
                }
            }

            @media screen and (max-width: 767px) {
                padding: 24px;
            }
        }
    }

    &-guarantee {
        color: #fff;
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 18px;

        > svg {
            transform: scale(1.25);
        }
    }

    &-guarantees {
        display: flex;
        width: 100%;
        gap: 40px;
        justify-content: center;
        margin: 0 auto;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }

    &-hero-grid {
        display: grid;
        grid-template-columns: 5fr 4fr;
        width: 100%;
        max-width: 1060px;
        padding: 0 20px;
        margin: 0 auto;
        gap: 16px;

        @media screen and (max-width: 900px) {
            grid-template-columns: 1fr;
        }

        .page-title {
            text-align: left;
            font-size: 50px;
            max-width: 550px;
            margin-left: 0;
            margin-right: 0;

            > span {
                display: inline;
            }

            @media screen and (max-width: 1023px) {
                font-size: 44px;
                line-height: 50px;
                margin-top: 100px;
                padding: 0;
            }

            @media screen and (max-width: 900px) {
                text-align: center;
                margin: 50px auto 0;
            }

            @media screen and (max-width: 500px) {
                font-size: 36px;
                line-height: 42px;
                margin-top: 0;
            }
        }

        .page-text {
            text-align: left;
            max-width: 500px;
            margin: 33px 0;

            @media screen and (max-width: 1023px) {
                padding: 0;
            }

            @media screen and (max-width: 900px) {
                text-align: center;
                margin: 33px auto;
            }
        }

        .page-guarantees {
            flex-direction: column;
            gap: 20px;

            @media screen and (max-width: 900px) {
                margin: 0 auto;
                max-width: 300px;
                align-items: flex-start;
            }
        }

        @media screen and (max-width: 900px) {
            .page-guarantee {
                font-size: 16px;
            }
        }

        .contact-form_group button {
            width: 100%;
            justify-content: center;
        }
    }

    &-hero-form {
        width: 100%;
        max-width: 767px;
        margin: 50px auto 0;
        border-radius: 18px;
        background: #13131e;
        padding: 24px;
        border: 1px solid rgba(255, 255, 255, 0.12);

        @media screen and (max-width: 900px) {
            max-width: 500px;
            margin-top: 24px;
        }

        &_title {
            color: #fff;
            font-size: 28px;
            text-align: center;
            margin: 16px 0 28px;
            font-weight: 500;
            text-transform: capitalize;

            @media screen and (max-width: 900px) {
                margin-top: 0;
                font-size: 20px;
            }
        }

        .contact-form_input:is(textarea) {
            height: 120px;
        }
    }

    &-cta {
        width: calc(100% - 42px);
        max-width: 1226px;
        margin: 40px auto;
        border-radius: 18px;
        padding: 40px 32px;
        background: #13131e;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            padding: 24px;

            .button {
                margin: 16px 0 0;
            }
        }

        &:before {
            content: "";
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            background: linear-gradient(90deg, #bcb7ff 0%, #703ab4 100%);
            position: absolute;
            top: -1px;
            left: -1px;
            border-radius: 18px;
            z-index: -1;
        }

        &_text {
            text-align: left;
            font-weight: 500;
            font-size: 32px;
            color: #fff;

            > span {
                background: linear-gradient(90deg, #bcb7ff 0%, #703ab4 100%);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                font-weight: 700;
            }

            @media screen and (max-width: 767px) {
                font-size: 28px;
                text-align: center;
            }

            @media screen and (max-width: 500px) {
                > span {
                    display: block;
                }
            }
        }

        .button {
            min-width: 200px;
        }
    }
}
