.posts {
    margin: 70px auto 170px;

    @media screen and (max-width: 1023px) {
        margin: 50px auto 100px;
    }

    &_search {
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        height: 48px;
        width: 100%;
        max-width: 520px;

        input {
            border: 1px solid rgba(255, 255, 255, 0.18);
            border-radius: 99px;
            height: 100%;
            width: 100%;
            background: transparent;
            padding: 16px 22px;
            font-size: 14px;
            color: #a5a5a5;
            transition: 0.25s ease;

            &:focus {
                outline: none !important;
                border-color: var(--primary);
                background: rgba(255, 255, 255, 0.1);
            }
        }

        a {
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            padding: 0;
        }
    }

    &_filters {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 24px;
        margin: 50px 0 90px;

        @media screen and (max-width: 1023px) {
            justify-content: flex-start;
            overflow-x: scroll;
            padding: 0 20px;
            width: calc(100% + 40px);
            margin: 40px 0 40px -20px;
            gap: 0;
        }
    }

    &_filter {
        padding: 10px 24px;
        line-height: 100%;
        font-size: 14px;
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        text-align: center;
        font-weight: 600;
        transition: 0.25s ease;
        border-radius: 99px;
        cursor: pointer;

        @media screen and (max-width: 1023px) {
            min-width: max-content;
            margin-left: 8px;
        }

        &.active {
            background: #fff;
            color: #000;
        }
    }

    &_grid {
        display: flex;
        flex-wrap: wrap;
        gap: 50px 24px;

        @media screen and (max-width: 1023px) {
            gap: 24px;
        }
    }

    &_btn {
        margin: 48px 0 0;
        display: flex;
        justify-content: center;

        svg {
            transform: rotate(90deg);
        }
    }

    &_zero-found {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        text-align: center;
        width: 100%;
    }
}

.post-card {
    flex: 0 0 calc((100% - 48px) * 0.33);
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: #13131e;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    @media screen and (max-width: 1023px) {
        flex: 0 0 calc((100% - 48px) * 0.5);
    }

    @media screen and (max-width: 767px) {
        flex: 100%;
    }

    &.hidden {
        display: none;
    }

    > img {
        width: 100%;
        height: 197px;
        object-fit: cover;
        object-position: center;
    }

    &_content {
        display: flex;
        flex-direction: column;
        padding: 32px 24px;
        height: 100%;
    }

    &_title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        color: #fff;
    }

    &_date {
        margin-top: 5px;
        color: #a8a8a8;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
    }

    &_text {
        font-size: 16px;
        line-height: 22px;
        color: #828282;
        font-weight: 400;
        padding: 12px 0;
    }

    &_read-more {
        display: flex;
        align-items: center;
        color: var(--primary);
        gap: 8px;
        font-size: 14px;
        line-height: 18px;
        margin-top: auto;
    }
}

// Individual Post Page
body > .container {
    & > .title {
        background: linear-gradient(
            90deg,
            #ffffff 0%,
            rgba(255, 255, 255, 0.81) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        font-size: 64px;
        line-height: 72px;
        font-weight: 650;
        text-transform: capitalize;
        max-width: 848px;
        margin: 80px auto 0;

        @media screen and (max-width: 942px) {
            font-size: 32px;
            line-height: 40px;
        }

        @media screen and (max-width: 450px) {
            font-size: 26px;
            line-height: 32px;
        }
    }

    & > .category {
        position: relative;
        z-index: 2;
        border-radius: 99px;
        background: #fff;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        padding: 0 15px 0 15px;
        width: fit-content;
        margin: 54px 0 -56px 24px;
    }

    & > .image {
        width: 100%;
        height: 316px;
        border-radius: 12px;
        object-fit: cover;
        object-position: center;

        @media screen and (max-width: 500px) {
            height: 200px;
        }
    }
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 0;
    border-bottom: 1px solid #272727;

    @media screen and (max-width: 500px) {
        flex-direction: column;
        row-gap: 16px;
    }

    .date {
        color: #979797;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
}

.post-footer {
    max-width: 740px;
    margin: 0 auto;
    border-top: 1px solid #272727;
    display: flex;
    align-items: center;
    padding: 21px 0;

    .share-text {
        margin-right: 24px;
        color: #979797;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
    }
}

.post-body {
    max-width: 740px;
    margin: 55px auto 75px;

    @media screen and (max-width: 500px) {
        margin-top: 48px;
    }

    ul {
        margin-bottom: 25px;
        margin-left: 20px;
    }

    p,
    li {
        color: #979797;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.05px;

        @media screen and (max-width: 500px) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    a {
        color: var(--primary);
    }

    p {
        margin-bottom: 25px;

        @media screen and (max-width: 500px) {
            margin-bottom: 25px;
        }
    }

    h2,
    h3 {
        margin: 55px 0 24px 0;
        color: #fff;
        font-size: 28px;
        font-weight: 600;
        line-height: 28px;

        @media screen and (max-width: 500px) {
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.share {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
        cursor: pointer;
        transition: 0.25s ease-in-out;
    }

    a:hover {
        opacity: 0.5;
    }
}

// Related Posts
.related-posts {
    max-width: 1248px;
    padding: 0 24px;
    margin: 0 auto 140px;

    &_title {
        @include title();
        margin: 120px auto 60px;
    }
}
