.stand-out {
    padding: 24px;
    margin: 100px auto 144px;

    &_title {
        color: #fff;
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;
        text-align: center;
        text-transform: capitalize;

        >span {
            background: linear-gradient(90deg, #BCB7FF 0%, #703AB4 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 567px;
                height: 529px;
                background: url('data:image/svg+xml,<svg width="567" height="529" viewBox="0 0 567 529" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_f_38_17)"><ellipse cx="283.5" cy="264.5" rx="87.5" ry="68.5" fill="%238B81FF" fill-opacity="0.14"/></g><defs><filter id="filter0_f_38_17" x="0" y="0" width="567" height="529" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="98" result="effect1_foregroundBlur_38_17"/></filter></defs></svg>') center/cover no-repeat;
            }
        }
    }

    &_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 89px auto 0;
        gap: 40px;
        width: 100%;
        max-width: 1097px;

        &-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-title {
                margin: 22px 0;
                font-size: 24px;
                font-weight: 600;
                color: #fff;
            }

            &-text {
                font-size: 16px;
                color: #828282;
                line-height: 24px;
                text-align: center;
                max-width: 230px;
            }
        }
    }
}