.text-image-group {
    width: 100%;
    max-width: 1085px;
    padding: 0 24px;
    margin: 150px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @media screen and (max-width: 1023px) {
        margin: 80px auto 0;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column-reverse !important;
        align-items: flex-start !important;
        gap: 40px;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 100px;
        transform: translateY(-50%);
        height: 250px;
        width: 250px;
        background: var(--primary);
        filter: blur(100px);
        opacity: 0.2;

        @media screen and (max-width: 1023px) {
            width: 200px;
            height: 200px;
        }
    }

    > div {
        flex: 0 0 536px;
        width: 536px;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 1023px) {
            flex: 0 0 calc(100% - 24px - 300px);
        }
        @media screen and (max-width: 767px) {
            flex: unset;
            width: 100%;
        }
    }

    &_image {
        flex: 0 0 400px;
        width: 400px;
        height: 400px;
        object-fit: cover;
        object-position: center;
        border-radius: 24px;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 1023px) {
            flex: 0 0 300px;
            width: 300px;
            height: 300px;
        }

        @media screen and (max-width: 767px) {
            flex: unset;
            width: 100%;
            object-fit: cover;
            height: 250px;
        }
    }

    &_title {
        max-width: 491px;
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
        color: transparent;
        background: linear-gradient(
            135deg,
            #ffffff 0%,
            rgba(255, 255, 255, 0.81) 100%
        );
        background-clip: text;
        -webkit-background-clip: text;

        @media screen and (max-width: 1023px) {
            font-size: 32px;
            line-height: 40px;
            max-width: 390px;
        }
    }

    &_text,
    &_list {
        color: #989898;
        font-size: 22px;
        line-height: 30px;
        margin-top: 40px;

        @media screen and (max-width: 1023px) {
            font-size: 16px;
            line-height: 24px;
            margin-top: 24px;
        }

        a {
            text-decoration: none;
            color: var(--primary);
        }
    }

    &_list {
        padding-left: 20px;

        > li {
            margin: 14px 0;
            line-height: 26px;
        }
    }

    &:nth-of-type(2n + 1) {
        flex-direction: row-reverse;

        &::after {
            right: unset;
            left: 100px;
        }
    }
}
