.title-group {
    width: 100%;
    max-width: 1268px;
    padding: 0 24px;
    margin: 0 auto 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_subtitle {
        color: #787878;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    &_title {
        color: #fff;
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;
        text-align: center;
        text-transform: capitalize;
        margin-top: 34px;
    }

    &_icon {
        min-width: fit-content;
        height: fit-content;
    }
}