.title-group {
    width: 100%;
    max-width: 1268px;
    padding: 0 24px;
    margin: 0 auto 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_subtitle {
        @include subtitle();
    }

    &_title {
        @include title();
    }

    &_icon {
        min-width: fit-content;
        height: fit-content;
    }
}