.title-group {
    width: 100%;
    max-width: 1268px;
    padding: 0 24px;
    margin: 0 auto 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
        margin: 0 auto 40px;
    }

    &_subtitle {
        @include subtitle();
    }

    &_title {
        text-align: left !important;
        @include title();
    }

    &_icon {
        min-width: fit-content;
        height: fit-content;

        @media screen and (max-width: 1023px) {
            transform: scale(0.75);
            min-width: 75px;
            width: 75px;
        }

        @media screen and (max-width: 360px) {
            width: 50px;
            min-width: 50px;
        }
    }
}
