---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

// Components
import Button from "../Button/Button.astro";
import TrustedBy from "../TrustedBy/TrustedBy.astro";

// Images
import imageOne from "../../images/trusted-by-logo-1.png";
import imageTwo from "../../images/trusted-by-logo-2.png";
import imageThree from "../../images/trusted-by-logo-3.png";
import backgroundLine from "../../images/background-line.png";
---

<header class="homepage-hero">
    <Image
        src={backgroundLine}
        alt=""
        loading="eager"
        class="homepage-hero_backgroud-line"
    />
    <div class="homepage-hero_inner">
        <Icon name="shopify" class="homepage-hero_icon" />
        <p class="homepage-hero_badge">Shopify Experts</p>
        <h1 class="homepage-hero_text">
            We build modern <span>high converting</span> Shopify stores<span
                >.</span
            >
        </h1>
        <Button type="primary" link="#services">Discover more</Button>
        <Icon name="devices" class="homepage-hero_icon" />
    </div>
    <TrustedBy />
</header>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('.homepage-hero .button')?.addEventListener('click', () => {
            document.querySelector('.title-group')?.scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
</script>