@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    --primary: #8b81ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Display", sans-serif;
    background: #100f17;
    position: relative;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #13131e;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--primary);
        border-radius: 99px;
    }
}

@keyframes leftCicleAnimation {
    0% {
        top: 50vh;
        left: -263px;
    }

    50% {
        top: 0;
        left: -243px;
    }

    100% {
        top: 50vh;
        left: -263px;
    }
}

@keyframes rightCicleAnimation {
    0% {
        top: -200px;
        right: -398px;
    }

    50% {
        top: 50vh;
        right: -428px;
    }

    100% {
        top: -200px;
        right: -398px;
    }
}

body:before,
body:after {
    content: "";
    width: 367px;
    height: 431px;
    border-radius: 50%;
    background: var(--primary);
    opacity: 0.14;
    filter: blur(106px);
    position: absolute;
    top: 50vh;
    left: -263px;
    animation: leftCicleAnimation 10s linear infinite;
}

body:after {
    left: unset;
    right: -398px;
    width: 540px;
    height: 588px;
    top: -200px;
    animation: rightCicleAnimation 10s linear infinite;
}

.container {
    width: 100%;
    max-width: 1260px;
    padding: 0 20px;
    margin: 0 auto;
}

// Global Mixins
@mixin subtitle {
    color: #787878;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@mixin title {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 34px;
}

// General Components
@import "partials/navbar";
@import "partials/button";
@import "partials/title";
@import "partials/box";
@import "partials/text-image-group";
@import "partials/faqs";
@import "partials/footer";
@import "partials/breadcrumbs";
@import "partials/page";
@import "partials/trusted-by";

// Homepage Components
@import "partials/homepage-hero";
@import "partials/stand-out";
@import "partials/homepage-about";

// About Components
@import "partials/about-grid";
@import "partials/about-ceo";

// Contact Components
@import "partials/contact-form";

// Blog Components
@import "partials/posts";
