---
import { Image } from "astro:assets";
import type { TitleProps } from "../../types";

const { title, subtitle, icon } = Astro.props as TitleProps;
---

<div class="title-group">
    <div>
        <h6 class="title-group_subtitle">// {subtitle}</h6>
        <h2 class="title-group_title">{title}</h2>
    </div>
    {icon && <Image src={icon} alt="" class="title-group_icon" />}
</div>
