---
import { getCollection } from "astro:content";
import Button from "../Button/Button.astro";

let services = await getCollection("services");
services = services.sort((a,b) => a.data.title.includes('Shopify') ? 1 : -1).reverse();
---

<form
    class="contact-form"
    method="POST"
    id="free-proposal-form"
    name="free-proposal-form"
>
    <div class="contact-form_group grid">
        <div>
            <label for="name">Name*</label>
            <input
                type="text"
                placeholder="Your name"
                id="name"
                class="contact-form_input"
                name="name"
                required
            />
        </div>
        <div>
            <label for="phone">Phone*</label>
            <input
                type="text"
                placeholder="Your phone number"
                id="phone"
                class="contact-form_input"
                name="phone"
            />
        </div>
    </div>
    <div class="contact-form_group">
        <label for="email">Email*</label>
        <input
            type="email"
            placeholder="Your email"
            id="email"
            name="email"
            class="contact-form_input"
            required
        />
    </div>
    <!-- <div class="contact-form_group">
        <label for="company">Company*</label>
        <input
            type="text"
            placeholder="Your company name"
            id="company"
            name="company"
            class="contact-form_input"
            required
        />
    </div> -->
    <!-- <div class="contact-form_group">
        <label for="service">Service you're interested in*</label>
        <select class="contact-form_input" name="service" id="service" required>
            <option value="" disabled>Please select</option>
            {
                services.map((service) => (
                    <option value={service.data.title}>
                        {service.data.title}
                    </option>
                ))
            }
        </select>
        <svg
            id="select-svg"
            width="13"
            height="12"
            viewBox="0 0 13 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M6.78418 8.25L3.03418 4.5L3.55918 3.975L6.78418 7.2L10.0092 3.975L10.5342 4.5L6.78418 8.25Z"
                fill="white"
                fill-opacity="0.5"></path>
        </svg>
    </div> -->
    <div class="contact-form_group">
        <label for="details">How can we help?*</label>
        <textarea
            placeholder="Please include as much information as possible about what you’re looking for, so we know how best we can help you"
            id="details"
            name="details"
            class="contact-form_input"
            required></textarea>
    </div>
    <div class="contact-form_group">
        <Button type="primary">Get a free quote</Button>
    </div>
</form>

<script>
    // @ts-nocheck
    const handleFormSubmit = () => {
        const name = document.querySelector("#name").value;
        const email = document.querySelector("#email").value;
        const details = document.querySelector("#details").value;
        const phone = document.querySelector("#phone").value;

        let errors = [];

        // Validate FOrm
        if (name == "") {
            errors.push("Please enter your name");
        }

        if (phone == "" || phone.length < 10) {
            errors.push("Please enter a valid phone number");
        }

        if (
            email == "" ||
            !String(email)
                .toLowerCase()
                .match(
                    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                )
        ) {
            errors.push("Please enter a valid email");
        }

        if (details == "") {
            errors.push("Please fill in your project details");
        }

        if (errors.length > 0) {
            alert(errors[0]);
            return;
        }

        // Tracking
        window.dataLayer.push({
            event: "get_started_form_submission",
        });

        // Submit form with Ajax
        var data = new FormData(document.querySelector(".contact-form"));
        fetch("https://formspree.io/f/xwkggend", {
            method: "POST",
            body: data,
            headers: {
                Accept: "application/json",
            },
        })
            .then((response) => {
                if (response.ok) {
                    window.location.pathname = '/form-thank-you';
                }
            })
            .catch(() => {
                document.querySelector(".contact-form").innerHTML +=
                    `<div class="contact-form_error">Oops! There was a problem submitting your form</div>`;
            });
    };

    document.querySelector(".contact-form")?.addEventListener("submit", (e) => {
        e.preventDefault();
        handleFormSubmit();
    });

    document
        .querySelector(".contact-form_group .button")
        ?.addEventListener("click", (e) => {
            e.preventDefault();
            handleFormSubmit();
        });
</script>
