---
import { Image } from "astro:assets";

import AboutImage from "../../images/CEO.png";
---

<section class="about-ceo">
    <Image src={AboutImage} alt="BLake Yeboah" />
    <div class="about-ceo_content">
        <svg
            width="108"
            height="108"
            viewBox="0 0 108 108"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><g clip-path="url(#clip0_50_18)"
                ><path
                    d="M46.6627 9.48096C27.5248 10.8257 0.01512 13.8812 0 51.3618V98.5191H42.7054V48.0642H28.5251C27.6269 34.5919 38.7207 31.1131 50.7847 28.4427L46.6627 9.48096ZM103.878 9.48096C84.74 10.8257 57.2303 13.8813 57.2153 51.3618V98.5191H99.9207V48.0642H85.7405C84.842 34.5919 95.936 31.1131 108 28.4427L103.878 9.48096Z"
                    fill="white"
                    fill-opacity="0.04"></path></g
            ><defs
                ><clipPath id="clip0_50_18"
                    ><rect width="108" height="108" fill="white"
                    ></rect></clipPath
                ></defs
            ></svg
        >
        <p class="about-ceo_text">
            I've always believed that e-commerce should be accessible and
            empowering. With Futuremerce, I want to help businesses of all sizes
            turn their passions into thriving online stores.
        </p>
        <p class="about-ceo_name">Blake Yeboah, CEO</p>
    </div>
</section>
