---
import type { NavbarLink } from "../../types";

const { links } = Astro.props;

let breadcrumbs: NavbarLink[] = [
    {
        label: "Home",
        href: "/",
    },
    ...links,
];
---

<div class="breadcrumbs container">
    {
        breadcrumbs.map((link, index) => (
            <>
                {index != breadcrumbs.length - 1 ? (
                    <>
                        <a
                            href={link.href}
                            class="breadcrumbs_link"
                            title={link.label}
                        >
                            {link.label}
                        </a>
                        <svg
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M4.3125 2.625L7.6875 6L4.3125 9.375"
                                stroke="white"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </>
                ) : (
                    <span class="breadcrumbs_current">{link.label}</span>
                )}
            </>
        ))
    }
</div>
